<%- include('./template/head.ejs') -%>
<body>
    <div>
        <%- include('./template/nav.ejs') -%>

        <main>
            <%- include('./template/message.ejs') -%>
            <h1>Form Page</h1>
            <form method="POST" action="/form">
                <div>
                    <label for="FullName">Full Name</label>
                    <input type="text" name="name" placeholder="Type your name" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Type your email" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
        <%- include('./template/footer.ejs') -%>
    </div>
</body>

<script>
    window.onload = function() {
        document.getElementById('form').classList.add('active')
    }
</script>